In [3]:
first_name = 'Nabajit'

last_name = 'Borah'

In [4]:
print("My name is {} and last name is {}".format(first_name,last_name))

My name is Nabajit and last name is Borah

Booleans variables are two constant objects: True or False
bool()

In [5]:
my_str="Nabajit991"

In [6]:
my_str.isalnum()

True

In [7]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

True
False
False
True
False
False
False
False
False

In [8]:
str_example='Hello World'
my_str='Nabbo'

In [9]:
my_str.isalpha() or str_example.isnum()

True

### Lists
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [10]:
type([]) #to find data type

list

In [24]:
lst=list() #create empty list

In [25]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [26]:
len(lst) #finds length of list

6

### Append

In [27]:
#append is used to add elements in the list
lst.append("Nabbo")

In [28]:
lst.append(["John","Bala"]) #nested list

In [29]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Nabbo', ['John', 'Bala']]

In [30]:
#Indexing in list
lst[:] #retrives all items

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Nabbo', ['John', 'Bala']]

In [31]:
lst[:1] #only retrives 1st item

['Mathematics']

In [32]:
lst[1:] #retrives all except 1st item

['chemistry', 100, 200, 300, 204, 'Nabbo', ['John', 'Bala']]

In [33]:
lst[1:6] #retrives all except the first and last item

['chemistry', 100, 200, 300, 204]

### Insert

In [36]:
lst.insert(2, 'amity') #insert item in 2nd position
print(lst)

['Mathematics', 'chemistry', 'amity', 'amity', 100, 200, 300, 204, 'Nabbo', ['John', 'Bala']]

### Extend

In [37]:
lst = [1,2,3,4,5,6]

In [38]:
lst.extend([8,9]) #doesn't create nested list
print(lst)

[1, 2, 3, 4, 5, 6, 8, 9]

### Various Operations that we can perform in List

In [39]:
lst=[1,2,3,4,5]

In [40]:
sum(lst) #adds all the items

15

In [41]:
lst*5 #repeats 5 times

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### Pop() Method

In [42]:
lst.pop() #removes element; default = last item

5

In [43]:
lst.pop(0) #removes first item

1

In [44]:
print(lst)

[2, 3, 4]

### count():Calculates total occurrence of given element of List

In [45]:
lst=[1,1,2,3,4,5]
lst.count(1)      #2 elements are present and value is 1

2

In [46]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

1. The first argument is 1. This is the element you're looking for in the list.
2. The second argument is 1. This is the starting index for the search. The search for the element 1 will begin from this index in the list.
3. The third argument is 4. This is the ending index for the search. The search for the element 1 will continue until this index in the list.

In [49]:
##Min and Max
min(lst)
max(lst)

5

### SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table