Giving Python: The Hard Way a try

In [2]:
print("Learning python the hard way")

Learning python the hard way

In [3]:
print("Hens", 25 + 3 / 6)
print("Is is true that 3 + 2 = 5 ?")

Hens 25.5
Is is true that 3 + 2 = 5 ?

VARIABLES

In [4]:
cars = 100
space_cars = 4.0
land_cars = 96.0

print("There are total", cars ,"in our city.The no. of Space cars are ", space_cars ,"and Land cars are ", land_cars)

There are total 100 in our city.The no. of Space cars are  4.0 and Land cars are  96.0

In [12]:
my_name = 'Nabajit Borah'
my_age = 23
my_height = 168 
my_goal = 'Learn Python'
total = my_age + my_height

print(f"My name is {my_name}.") #using f to format 
print(f"My age is {my_age} and my goal is {my_goal}.")
print(f"If I add my age {my_age} and my height {my_height}, I get total {total}")

My name is Nabajit Borah.
My age is 23 and my goal is Learn Python.
If I add my age 23 and my height 168, I get total 191

MORE PRINTING

In [13]:
print("Its fleece was white as {}.".format('snow'))
#The "format" method is used to replace the placeholder '{}' with the string 'snow'.

Its fleece was white as snow.

In [14]:
print("." * 10) #print ... 10x

..........

In [8]:
formatter = "{} {} {} {}"
print(formatter.format(1, 2, 3, 4))
print(formatter.format("one", "two", "three", "four"))
print(formatter.format("i", "hate", "machine", "learning"))

1 2 3 4
one two three four
i hate machine learning

In [9]:
months = "Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug"
print(months)

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

In [10]:
tabby_cat = "\tI'm tabbed in."
print(tabby_cat)

	I'm tabbed in.

In [2]:
tabby_cat = "\tI'm tabbed in."
backslash_cat = "I'm \\ a \\ cat."
persian_cat = "I'm split\non a line."
backslash_cat = "I'm \\ a \\ cat."

fat_cat = """
I'll do a list:
\t* Cat food
\t* Fishies
\t* Catnip\n\t* Grass
"""

print(tabby_cat)
print(persian_cat)
print(backslash_cat)
print(fat_cat)

print(backslash_cat)

NameError: name 'tabby_cat' is not defined